// .eslintrc

{
  "extends": ["react-app", "eslint:recommended", "prettier"],
  "env": {
    // const 키워드는 예약어기 때문에 es6 환경으로 세팅.
    "es6": true
  },
  "rules": {
    "no-var": "error", // var 금지
    "no-multiple-empty-lines": "error", // 여러 줄 공백 금지
    "no-console": ["error", { "allow": ["warn", "error", "info"] }], // console.log() 금지
    "eqeqeq": "error", // 일치 연산자 사용 필수
    "dot-notation": "error", // 가능하다면 dot notation 사용
    "no-unused-vars": "error" // 사용하지 않는 변수 금지
  }
}
//npx eslint --cache .   -> 이미 검사한거는 캐싱한거로 검사.
